body {
  background-color: #00cc7a;
}

h2 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 17px;
}
.klase {
	color: red;
}
}
.klase {
	color:#00cc7a;
}
.font {
	font-family:verdana;
}
#Krasa {
	color:yellow;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
}
table, th, td {
 
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
.cimg {
  display: block;
  margin-left: 20%;
}
.teksts {
	position:relatvie;
	text-align:center;
}
li {
	position:relative;
	left:15%;
	text-align:left;
	width:70%;
}
table {
   
	margin-left: auto;
  margin-right: auto;
}
.malas	  {
	
	text-align: center;
	border-style: solid;
	border-color: #00995c;
	padding-top: 8px;
	padding-right: 80px;
	padding-bottom: 8px;
	padding-left: 80px;
	background: #00e68a;
}
h1 {
	text-align: center;
	font-size: 190%;
}
.ikn {
	font-size: 90%;
	text-align:start;
	
}